In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('InternetMobileTime (1)-1.csv')
df.head()

   Minutes
0       72
1      144
2       48
3       72
4       36

In [3]:
df.describe()

          Minutes
count   30.000000
mean   175.266667
std    139.836834
min     24.000000
25%     72.000000
50%    144.000000
75%    276.000000
max    576.000000

In [20]:
df.info()
df.size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 1 columns):
Minutes    30 non-null int64
dtypes: int64(1)
memory usage: 320.0 bytes

30

In [7]:
# H0: Mean = 144
# H1: Mean != 144

In [27]:
# method 1 
Mu = 144
n = df.size
xbar = df.mean()
std = df.std()

t_stat = (xbar - Mu)/(std/np.sqrt(n))
print(t_stat)

from scipy import stats
p_value = stats.t.cdf(t_stat, n - 1)
print((1-p_value)*2)

## OR use the ttest_1samp

from scipy.stats import ttest_1samp

t_stat, p_value = ttest_1samp(df['Minutes'],144)
p_value

Minutes    1.224674
dtype: float64
[0.23055327]

0.23055326882983757