In [3]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
df = pd.read_csv('Luggage (1)-1.csv')
df.head()

   WingA  WingB
0  10.70   7.20
1   9.89   6.68
2  11.83   9.29
3   9.04   8.95
4   9.37   6.61

In [4]:
t_statistics, p_value = ttest_ind(df['WingA'], df['WingB'])
print(t_statistics, p_value)

5.16151166403543 8.007988032535588e-06

## Cardio Good Fitness Case Study

In [5]:
df = pd.read_csv('CardioGoodFitness (1).csv')
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [6]:
# H0 avg mile is same for male and female
# H1 avg mile is not same
male = df[df['Gender'] == 'Male']['Miles']
female = df[df['Gender'] == 'Female']['Miles']
t_stat, p_value = ttest_ind(male, female)
print(t_stat, p_value)

2.978275757980537 0.003303062694899313

In [8]:
contingency = pd.crosstab(df['Product'], df['Gender'])
contingency

Gender   Female  Male
Product
TM195        40    40
TM498        29    31
TM798         7    33

In [10]:
# Chi square
# H0: Product and Gender are independent
# H1: Product and Gender are dependent
from scipy.stats import chisquare, chi2_contingency
chi2_contingency(contingency)

# Reject H0

(12.923836032388664,
 0.0015617972833158714,
 2,
 array([[33.77777778, 46.22222222],
        [25.33333333, 34.66666667],
        [16.88888889, 23.11111111]]))

In [13]:
# For single variable
# H0: Proportions of all the products are same
# H1: Proportions of the products are different
chisquare(df['Product'].value_counts())
# Reject H0

Power_divergenceResult(statistic=13.333333333333334, pvalue=0.0012726338013398079)