In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

### Importing the Dataset

In [8]:
reviews_data = pd.read_csv('ratings_Electronics.csv',header=None, names=['userId','productId','ratings','timestamp'])
reviews_data.head(10)

           userId   productId  ratings   timestamp
0   AKM1MP6P0OYPR  0132793040      5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944      5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341      1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341      3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341      1.0  1334707200
5  A1QGNMC6O1VW39  0511189877      5.0  1397433600
6  A3J3BRHTDRFJ2G  0511189877      2.0  1397433600
7  A2TY0BTJOTENPG  0511189877      5.0  1395878400
8  A34ATBPOK6HCHY  0511189877      5.0  1395532800
9   A89DO69P0XZ27  0511189877      5.0  1395446400

### Exploratory Data Analysis

In [17]:
reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824482 entries, 0 to 7824481
Data columns (total 4 columns):
userId       object
productId    object
ratings      float64
timestamp    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB

In [21]:
reviews_data.isna().sum()

userId       0
productId    0
ratings      0
timestamp    0
dtype: int64

#### There are no missing values present in the data set